

<nav class="navbar navbar-inverse" role="navigation">
 <div class="container">
 <!-- Brand and toggle get grouped for better mobile display -->
 <div class="navbar-header">
     

 <a class="navbar-brand" href="index">Pinterested</a>
 </div>
 <!-- Collect the nav links, forms, and other content for toggling -->
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
 <ul class="nav navbar-nav">
  <li><%= link_to 'Home', root_path, class: 'btn btn-primary' %></li>
  <li><%= link_to 'About Us', home_about_path, class: 'btn btn-warning' %></li>
 </ul>
 </div><!-- /.navbar-collapse -->
 </div><!-- /.container -->
 </nav>