<div class='jumbotron center'>
    <div style='text-align: center'>
        <h1>Welcome to My pinterested App</h1>
        <p>raneel photography collection</p>
        <p>Stay tuned for more portrait photo session.It will be <strong> mind </strong> blowing!</p>
    
    <button type="button" class="btn btn-primary">Login</button>
    <button type="button" class="btn btn-secondary">Join</button>
    </div>

</div>